<nav>
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/">
            <img src="/images/image.png" class="img-fluid logo_menu">
        </a>
        <ul class="list-unstyled navbar">
            <li class="mx-2">
                <a href="/">Autopote : la casse qui dépote !</a>
            </li>
            <li class="mx-2">
                <a href="/categorie-form">Créer une catégorie</a>
            </li>
            <li class="mx-2">
                <a href="/brand-form">Créer une marque</a>
            </li>
            <li class="mx-2">
                <a href="/part-form">Créer une pièce</a>
            </li>
        </ul>
    </div>
</nav>